%p
  vielen Dank f체rs Beantragen eines Verk채uferplatzes!

%p
  Sie haben folgende W체nsche angegeben:

- if @user.wish_a
  %p
    1. Wunsch:
    = Seller.models.find {|_k, v| v == @user.wish_a}[0]

- if @user.wish_b
  %p
    2. Wunsch:
    = Seller.models.find {|_k, v| v == @user.wish_b}[0]

- if @user.wish_c
  %p
    3. Wunsch:
    = Seller.models.find {|_k, v| v == @user.wish_c}[0]

- if @user.old_seller_code
  %p
    %em
      %strong Falls
      Sie ausgelost werden, behalten Sie Ihre alte Verk채ufernummer:
      %br
      = @user.old_seller_code
