%p
  herzlichen Gl체ckwunsch, Sie sind dabei!

%p
  Ihre Verk채ufernummer:
  = @seller.code

%p
  Ihre Farbe:
  = @seller.color && t(@seller.color)

%p
  Ihr Kommissionsmodell:
  = @seller.model_description

%p
  Bitte w채hlen Sie Ihre Abgabe-/Hilfstermine:
  %br
  = link_to 'Termine w채hlen', edit_seller_url(@seller)
