%tr
  %th Name
  %th Number
  %th Initials
  - @tasks.each do |task|
    %th= task.description
  %th Rate&nbsp;&nbsp;
  %th # Sold items
  %th Total revenue
  %th Commission
  %th Total Payout
  %th
  %th
  %th Commission 10%
  %th Payout 10%
  %th Commission 15%
  %th Payout 15%
  %th Commission 20%
  %th Payout 20%
