%h1 Kontakt

%p
  Bei Fragen zum Basar wenden Sie sich bitte an
  %br
  %em
    Miriam Liebermann und Nadine Lange,
    ichthysbasar@
    %span.hide> null
    gmail.com

%p Eingehende Mails werden nur 3 Wochen nach dem Basar und ca. 6 Wochen vor dem nächsten Basar bearbeitet. Vielen Dank für Ihr Verständnis!
