%h1 Kontakt

%p
  Bei Fragen zum Basar wenden Sie sich bitte an
  %br
  %em
    Anna Lohmann und Nadine Lange,
    ichthysbasar@
    %span.hide> null
    gmail.com

%p Eingehende Mails werden nur 3 Wochen nach dem Basar und ca. 6 Wochen vor dem n채chsten Basar bearbeitet. Vielen Dank f체r Ihr Verst채ndnis!

%p
  Bei Problemen mit der Benutzung dieser Webseite wenden Sie sich bitte an
  %br
  %em
    Peter Lohmann,
    info@
    %span.hide> null
    kids-basar.de
  %br
  F체r Hinweise und konstruktive Kritik sind wir ebenfalls sehr dankbar.
