%h1 Häufige Fragen

%h3 Wie viele Teile darf ich verkaufen?
%p
  %em 200 Kleidungsstücke / Schuhe, wenn Sie das erste Mal bei uns verkaufen. Andere Artikel (z.B. Spielzeug, Kinderwagen) dürfen unbegrenzt verkauft werden.
  Wenn sie zum wiederholten Mal bei uns verkaufen, dann auch Kleidungsstücke / Schuhe soviel Sie möchten.
  Allerdings behalten wir uns vor, Artikel, die nicht unseren subjektiven Ansprüchen genügen, nicht anzubieten. Bei der Annahme gucken wir uns im Rahmen einer Qualitätskontrolle jeden Artikel sehr genau an, bevor wir ihn zum Verkauf auslegen. Wenn Sie uns also nur qualitativ hochwertige Sachen vorlegen, sparen Sie sich und uns viel Zeit.

%h3 Kann ich meine Etiketten durchnummerieren?
%p
  JA. Sehr gerne dürfen Sie Ihre angebotenen Artikel auf den Etiketten durchnummerieren. Bitte bringen Sie diese Nummer dann direkt hinter der Verkäufernummer an (z.B. AB123/20 für Artikel Nummer 20). Das Durchnummerieren ist aber nicht verpflichtend, sondern bietet Ihnen eine größere Übersicht über Ihre Artikel.

%h3 Warum darf ich keine Windelkartons/kleine Behältnisse benutzen?
%p
  Im Gegensatz zu früher, sind die meisten Windelkartons heutzutage ziemlich klein. Es erleichtert uns das Rücksortieren ungemein, wenn jeder Verkäufer so wenig wie möglich Kartons hat. Auch sind größere Karton variabler zu bepacken und leichter zu stapeln. Bitte haben Sie hierfür Verständnis.

%h3 Was genau gilt denn als Möbelstück?
%p
  Bitte verkaufen Sie nur Großteile, die sich in einem gewöhnlichen PKW abtransportieren lassen. Wenn dies z.B. für Ihren Stubenwagen zutrifft, können Sie Ihn gerne zum Verkauf anbieten. Für alle zerlegten Großteile gilt: Bitte geben Sie sich Mühe bei der Verpackung! Vielleicht können Sie ein Foto mit Beschreibung oder eine Gebrauchsanleitung ankleben. Stellen Sie sich einfach vor, sie würden es bei Ebay reinstellen. Für Großteile, die eher nicht basargeeignet sind, bieten wir eine Stellwand an, auf der Sie einen Aushang machen können.

%h3 Können Sie den Preis reduzieren, wenn meine Sachen sich nicht verkaufen?
%p
  NEIN. Dies ist aufgrund des hohen Aufwands leider nicht möglich. Generell gilt, dass das Preisniveau auf Kommissionsbasaren eher niedrig ist, da eben nicht gehandelt oder noch etwas dazugeschenkt werden kann und der Käufer sich schnell entscheiden muss ohne Recherchen über den Wert anstellen zu können. Überlegen Sie sich gut, wieviel Sie minimal dafür haben möchten und schreiben Sie diesen Preis auf. Sie können gerne Ihren Artikel ”bewerben” indem Sie z.B. den Neupreis auf ein Extraetikett schreiben.
