%h1 Kommissionsbasar für Kinderartikel

%p Im großzügigen Veranstaltungszentrum Brandboxx in Langenhagen bieten wir entspanntes Second-Hand-Shopping.
Alle angebotenen Artikel sind sortiert und von uns inspiziert worden. In unserem Bistro können Sie sich bei Kaffee und Kuchen vom Shoppen erholen oder ein paar Stücke für die Kaffeetafel daheim mitnehmen. Der Gewinn aus dem Kuchenverkauf und der Kommission wird vollständig zur Deckung der Kosten verwendet.
 
%p Bei unserem Basar erhalten Sie gut erhaltene Artikel rund ums Kind: Kinderbekleidung und Schuhe (nach Größen sortiert) sowie Bücher, Spielsachen, Fahrzeuge usw.
 
%h2 Öffnungszeit

%p
  %strong
    Samstag, 14. September 2019
  %br
  10:00 bis 12:00 Uhr
  %br
  Einlass für Schwangere mit Begleitperson ab 09:15 Uhr!


%h2 Anfahrt

%p
  Brandboxx
  %br
  Haus C - Messehalle
  %br
  Zugang Bayernstraße 3
  %br
  30855 Langenhagen

-# %p
-#  = image_tag 'directions.jpg', width: 600
