%h1 Hallo beim Basar-Tool
%p Hier könnt ihr euch anmelden, eure Daten eingeben/ändern und hinterher sehen, wie viel ihr eingenommen habt.

- if !user_signed_in?
  %p=  link_to t("users.registrations.new.sign_up"), new_user_registration_path
