%h1 Ichthys-Gemeinde
%h1 Kommissionsbasar für Kinderartikel

%p In unserem großzügigen Gemeindesaal auf über 700 m² bieten wir entspanntes Second-Hand-Shopping.
Alle angebotenen Artikel sind sortiert und von uns inspiziert worden. In unserem Bistro können Sie sich bei Kaffee und Kuchen vom Shoppen erholen oder ein paar Stücke für die Kaffeetafel daheim mitnehmen. Der Erlös aus dem Kuchenverkauf und der Kommission kommen zu 100% der Kinder- und Jugendarbeit der Gemeinde zu Gute. 
 
%p Bei unserem Basar erhalten Sie gut erhaltene Artikel rund ums Kind: Kinderbekleidung und Schuhe (nach Größen sortiert) sowie Bücher, Spielsachen, Fahrzeuge usw.
 

%h2 Öffnungszeit

%p
  Samstag, 1. April 2017
  %br
  10:00 bis 12:00 Uhr
  %br
  Einlass für Schwangere mit Begleitperson ab 09:15 Uhr!


%p.larger{style: 'margin-top: 4ex'}= link_to "Basar auf der Ichthys-Homepage", "http://www.hannover-ichthys.de/basar", target: '_blank'


%h2 Anfahrt

%p
  ICHTHYS
  %br
  Ikarusallee 1A
  %br
  30179 Hannover

%h3 Stadtbahn
Linie 1 Richtung Langenhagen
%br
Haltestelle: Alter Flughafen

%h3 Auto
3 min von A2
%br
Abfahrt 44, Hannover Nord
