%h1 Anmeldung zum Ichthys-Basar am 30.4.2016

%p Herzlich Willkommen!

%p Schön, dass Sie beim Basar dabei sein wollen. Hier können Sie sich anmelden, sich später Abgabe-/Hilfe-Termine aussuchen und hinterher sehen, wie viel Sie eingenommen haben.

%p
  Um sich zu registrieren, müssen Sie folgendes tun:
  %ol
    %li Klicken Sie links auf "Registrieren".
    %li Füllen Sie das angezeigte Formular aus und senden es ab.
    %li
      Anschließend bekommen Sie eine E-Mail mit einem Link zur Bestätigung. Klicken Sie diesen bitte an.
      %ul
        %li Wenn Sie keine E-Mail bekommen haben, schauen Sie bitte in Ihrem Spam-Ordner nach.
    %li Jetzt können Sie sich mit Ihrer E-Mail-Adresse und Ihrem Passwort einloggen und links unter "Konto" Ihre Daten einsehen/ändern.

%p
  Bei Problemen mit der Benutzung dieser Webseite wenden Sie sich bitte an
  %br
  Peter Lohmann, info@kids-basar.de
  %br
  Für Hinweise und konstruktive Kritik sind wir ebenfalls sehr dankbar.

%p
  Bei Fragen zum Basar, die nicht direkt Probleme mit dieser Webseite betreffen, wenden Sie sich bitte an
  %br
  Anna Lohmann und Nadine Lange, ichthysbasar@gmail.com

%p.larger= link_to "Verkaufsbedingungen", "/info/Ichthys_Basar_2016_04_Verkaufsbedingungen.pdf"

%p.larger= link_to "Hinweise für Helfer", "/info/Ichthys_Basar_2016_04_Helfer_Hinweise.pdf"

%p.larger= link_to "Basar auf der Ichthys-Homepage", "http://www.hannover-ichthys.de/#!basar/c1wbv", target: '_blank'
