%h1 Anmeldung zum Ichthys-Basar am 29.10.2016

%p Hier können Sie eine Verkäufernummer beantragen, sich später Abgabe-/Hilfe-Termine aussuchen und hinterher sehen, wie viel Sie eingenommen haben.

%p
  Um eine Verkäufernummer zu beantragen, müssen Sie sich
  %em vorher
  beim System registrieren:
  %ol
    %li Klicken Sie links auf "Registrieren".
    %li Füllen Sie das angezeigte Formular aus und senden es ab.
    %li
      Anschließend bekommen Sie eine E-Mail mit einem Link zur Bestätigung. Klicken Sie diesen bitte an.
      %ul
        %li Wenn Sie keine E-Mail bekommen haben, schauen Sie bitte in Ihrem Spam-Ordner nach.
    %li
      %em Erst jetzt
      können Sie links unter "Verkaufen" eine Verkäufernummer beantragen.

%p{style: 'margin-top: 3ex'}
  Bei Problemen mit der Benutzung dieser Webseite wenden Sie sich bitte an
  %br
  %em
    Peter Lohmann,
    info@
    %span.hide> null
    kids-basar.de
  %br
  Für Hinweise und konstruktive Kritik sind wir ebenfalls sehr dankbar.

%p
  Bei Fragen zum Basar, die nicht direkt Probleme mit dieser Webseite betreffen, wenden Sie sich bitte an
  %br
  %em
    Anna Lohmann und Nadine Lange,
    ichthysbasar@
    %span.hide> null
    gmail.com

%p{style: 'margin-top: 3ex'}

%p.larger= link_to "Verkaufsbedingungen", "/info/Ichthys_Basar_2016_04_Verkaufsbedingungen.pdf"

%p.larger= link_to "Hinweise für Helfer", "/info/Ichthys_Basar_2016_04_Helfer_Hinweise.pdf"

%p.larger= link_to "Basar auf der Ichthys-Homepage", "http://www.hannover-ichthys.de/#!basar/c1wbv", target: '_blank'
