%h1 Kommissionsbasar für Kinderartikel

%p Im großzügigen Veranstaltungszentrum Brandboxx in Langenhagen bieten wir entspanntes Second-Hand-Shopping.
Alle angebotenen Artikel sind sortiert und von uns inspiziert worden. In unserem Bistro können Sie sich bei Kaffee und Kuchen vom Shoppen erholen oder ein paar Stücke für die Kaffeetafel daheim mitnehmen. Der Gewinn aus dem Kuchenverkauf und der Kommission kommen zu 100% der Kinder- und Jugendarbeit der Ichthys-Gemeinde in Hannover zu Gute. 
 
%p Bei unserem Basar erhalten Sie gut erhaltene Artikel rund ums Kind: Kinderbekleidung und Schuhe (nach Größen sortiert) sowie Bücher, Spielsachen, Fahrzeuge usw.
 

%h2 Öffnungszeiten


%p
  %strong
    Samstag, 10. März 2018
  %br
  10:00 bis 12:00 Uhr
  %br
  Einlass für Schwangere mit Begleitperson ab 09:15 Uhr!


%h3
  Für
  = link_to 'Großeltern und Babyeltern', pages_presell_grannies_path

%p
  Freitag, 9. März 2018
  %br
  17:30 bis 19:00 Uhr
  %br
  Für Großeltern (in Begleitung ihrer Kinder/Schwiegerkinder) oder
  Eltern von unter 1-Jährigen (Nachweis U-Heft)


%p{style: 'margin-top: 3ex'}
  Vormerken: Der nächste Herbstbasar findet am 27.10.2018 statt


%h2 Anfahrt

%p
  Brandboxx
  %br
  Zugang Bayernstraße 3
  %br
  30855 Langenhagen

%h3 S-Bahn
Bahnhof Langenhagen-Mitte

%h3 Auto
5 min von A2
%br
Abfahrt 44, Richtung Langenhagen/Flughafen
