%h1 Anmeldung zum Ichthys-Basar am 30.4.2016

%p Herzlich Willkommen!

%p
  Schön, dass Sie dabei sein wollen. Hier können Sie sich anmelden, Ihre Daten eingeben/ändern und hinterher sehen, wie viel Sie eingenommen haben.

%p.larger= link_to "Verkaufsbedingungen", "/info/Ichthys_Basar_2016_04_Verkaufsbedingungen.pdf"

%p.larger= link_to "Hinweise für Helfer", "/info/Ichthys_Basar_2016_04_Helfer_Hinweise.pdf"

%p.larger= link_to "Basar auf der Ichthys-Homepage", "http://www.hannover-ichthys.de/#!basar/c1wbv", target: '_blank'
