%h1 Vorabeinkauf für Großeltern / Babyeltern

%p
  Am Freitag, den 9. März 2018, von 17:30 bis 19:00 Uhr gibt es zum ersten Mal diese exklusive Möglichkeit für Großeltern in Begleitung ihrer Kinder /Schwiegerkinder oder für Eltern von unter 1-Jährigen (als Nachweis dient das U-Heft).

%p
  Gerade für Eltern mit noch sehr kleinen Kindern ist das Shoppen inmitten des Andrangs eine besondere Herausforderung. Am Vorabend des Basartages können Sie nun  schon entspannt Einkaufen, während unser Aufbau in den letzten Zügen ist. Wir freuen uns, Ihnen in diesem Jahr dieses tolle Angbot machen zu können!
