%h1 Essenspende

%h2 Vorabeinkauf und Verkäufer mit Modell C Viel Helfen

%p
  Sie können wählen zwischen
  %strong Herzhaftem
  , z.B.
  %ul
    %li Pizzabrötchen
    %li Pizzaschnecken
    %li Börek
    %li Würstchen im Schlafrock
    %li überbackene Brezeln
    %li herzhafte Muffins
    %li herzhafter Kuchen / Quiche
    %li Tomate-Mozzarella-Spieße
    %li Weintrauben-Käse-Spieße

%p
  Oder
  %strong Kuchen
  , z.B.
  %ul
    %li Kuchen/Torten mit Obstbelag
    %li Kuchen/Torten mit Cremefüllung oder -Belag
    %li Saftige Schokoladenkuchen (gerne auch mit Schokoglasur)
    %li Käsekuchen
    %li Brownies
    %li Muffins
    %li Obstspieße


%h2 Verkäufer mit Modell A Wenig Helfen

%p
  Sie dürfen nur
  %strong Kuchen
  mitbringen, z.B.
  %ul
    %li Kuchen/Torten mit Obstbelag
    %li Kuchen/Torten mit Cremefüllung oder -Belag
    %li Saftige Schokoladenkuchen (gerne auch mit Schokoglasur)
    %li Käsekuchen
    %li Brownies
    %li Muffins
    %li Obstspieße


%p
  %strong Wichtiger Hinweis:
  Aus Infektionsschutzgründen (Salmonellengefahr) müssen wir auf klassische Sahnetorten, sowie Kuchen und Torten mit rohem Ei verzichten. Kuchen mit Schmand, Frischkäse und Quark können gerne mitgebracht werden.

%p
  Die einzige Abgabemöglichkeit fürs Essen ist direkt vor Basarbeginn (ab 9:15 Uhr am Basartag). Bedenken Sie bitte, ob Ihnen dieser Termin zusagt, bevor Sie sich anmelden. Bitte nehmen Sie Ihr Transportbehältnis und auch eine evtl. Backform SOFORT wieder mit, wir übernehmen keine Haftung für evtl. Beschädigung oder Verlust derselben.

%p
  Da um 9:15 Uhr alle ihr Essen abgeben, können Sie den Prozess beschleunigen, indem Sie Ihr Essen auf einer Einwegplatte abgeben (z.B. ein Stück Pappe mit Alufolie umwickelt).

%p{style: 'margin-top: 3ex'}
  Unter folgendem Link können Sie sich anmelden, um sich das Vorkaufrecht zu sichern:
  %br
  = link_to 'Vorabeinkauf mit Essenspende', sellers_cake_path
