%h1 Vorabeinkauf

%p
  Sie möchten mithelfen und dafür die Vorteile des Vorabeinkaufs nutzen?

%p
  Wir freuen uns immer über neue Gesichter, die uns beim Sortieren, Aufbau oder beim Kuchenverkauf unterstützen wollen. Als Helfer können Sie schon vor dem offiziellen Basarstart einen Blick auf das Angebot werfen und sich das ein oder andere Sahnestück sichern. 

%p
  Das
  %strong Vorkaufsrecht
  bekommen Sie wahlweise durch 2 Stunden
  = link_to 'Hilfe beim Aufbau', pages_presell_help_path
  oder durch eine
  = link_to 'Essenspende', pages_presell_cake_path

%p
  Helfer helfen 2 Stunden beim Aufbau. Beachten Sie bitte, dass „Einkaufszeit“ hierbei NICHT eingeschlossen ist.
