%h1 Vorabeinkauf durch Kuchenspende

%p
  Erwünscht sind:
  %ul
    %li Kuchen/Torten mit Obstbelag
    %li Kuchen/ Torten mit Cremefüllung oder –Belag
    %li Saftige Schokoladenkuchen (gerne auch mit Schokoglasur)
    %li Käsekuchen
    %li
      Gekaufte
      %strong Torten
    %li Brownies

%p
  Alternativ
  Herzhaftes Fingerfood z.B.
  %ul
    %li Pizzabrötchen
    %li Pizzaschnecken
    %li Börek
    %li Würtchen im Schlafrock
    %li überbackene Brezeln
    %li herzhafte Muffins

%p
  Nicht erlaubt sind:
  %ul
    %li Gekaufte Kuchen
    %li Muffins
    %li Trockene Topf- oder Blechkuchen

%p
  Die einzige Abgabemöglichkeit für Kuchen ist direkt vor Basarbeginn (ab 9:00 Uhr am Basartag) in unserem Gemeindebistro. Bedenken Sie bitte, ob Ihnen dieser Termin zusagt, bevor Sie sich für eine Kuchenspende anmelden. Bitte nehmen Sie Ihr Kuchentransportbehältnis und auch eine evtl. Backform SOFORT wieder mit, wir übernehmen keine Haftung für evtl. Beschädigung oder Verlust derselben.

%p
  Da um neun Uhr alle ihre Kuchen abgeben, können Sie den Prozess beschleunigen, indem Sie Ihren Kuchen auf einer Einwegplatte abgeben (z.B. ein Stück Pappe mit Alufolie umwickelt).
%p
  Im Tausch gegen Ihren Kuchen erhalten Sie eine VIP-Karte mit welcher Sie direkt in den Verkaufsraum gelassen werden.

%p{style: 'margin-top: 3ex'}
  Unter folgendem Link können Sie sich anmelden, um sich das Vorkaufrecht zu sichern:
  %br
  = link_to 'Vorabeinkauf mit Kuchen', sellers_cake_path
