%h1 Vorabeinkauf durch Hilfe beim Aufbau

Beim Aufbau werden die Artikel nach Größen vorsortiert und dann ordentlich auf die Tische drapiert.


%h2 Helferzeiten

%table
  %tr
    %td Donnerstag,&nbsp;
    %td{style: 'padding-right: 1.5ex'} 25.10.
    %td 9:00-12:30 Uhr
  %tr
    %td
    %td
    %td 15:30-18:30 Uhr
  %tr
    %td Freitag,
    %td 26.10.
    %td 9:00-12:00 Uhr
  %tr
    %td
    %td
    %td 15:00-19:00 Uhr


%p
  Helfer helfen 2 Stunden beim Aufbau. Beachten Sie bitte, dass „Einkaufszeit“ hierbei NICHT eingeschlossen ist.

%h3 Mitzubringen
%ul
  %li ein ausreichend großes, eindeutig zu identifizierendes oder entsprechend beschriftetes Transportbehältnis (Tasche, Korb, Kiste)
  %li ausreichendes (und nach Möglichkeit kleines) Geld für Ihren Einkauf


%h2 ACHTUNG
%p
  Für Sie interessante Artikel, legen Sie bitte gleich in ihr Transportbehältnis. Wenn Sie gehen, bezahlen Sie diese und nehmen sie mit.
  %strong Alle herumliegenden Artikel werden am Ende des Tages zurücksortiert!
  %br
  Auch wenn Sie z.B. am Mittwoch schon geholfen haben, dürfen Sie zu den anderen Helferzeiten weiteres Vorkaufrecht nutzen.


%h2 Kann ich meine Kinder zum Helfen mitbringen?
%p
  JA. Wir haben in der Vergangenheit sehr gute Erfahrungen mit helfenden Kindern gemacht und freuen uns über diese Hilfe ganz besonders, solange sie wirklich helfen. Falls Sie den Verdacht haben, dass Ihre Kinder nach 10 Minuten keine Lust mehr haben und lieber mit den Sachen spielen wollen, dann lassen Sie sie lieber zu Hause.


%p{style: 'margin-top: 3ex'}
  Unter folgendem Link können Sie sich anmelden, um sich das Vorkaufrecht zu sichern:
  %br
  = link_to 'Vorabeinkauf mit Helfen', sellers_help_path
