%h1 Vorabeinkauf durch Essenspende

%p
  Erwünscht ist
  %strong Herzhaftes
  , z.B.
  %ul
    %li Pizzabrötchen
    %li Pizzaschnecken
    %li Börek
    %li Würtchen im Schlafrock
    %li überbackene Brezeln
    %li herzhafte Muffins
    %li herzhafter Kuchen / Quiche

%p
  Nicht erlaubt sind:
  %ul
    %li (süße) Kuchen
    %li Torten
    %li Desserts


%p
  Die einzige Abgabemöglichkeit fürs Essen ist direkt vor Basarbeginn (ab 9:00 Uhr am Basartag) in unserem Gemeindebistro. Bedenken Sie bitte, ob Ihnen dieser Termin zusagt, bevor Sie sich anmelden. Bitte nehmen Sie Ihr Transportbehältnis und auch eine evtl. Backform SOFORT wieder mit, wir übernehmen keine Haftung für evtl. Beschädigung oder Verlust derselben.

%p
  Da um neun Uhr alle ihr Essen abgeben, können Sie den Prozess beschleunigen, indem Sie Ihr Essen auf einer Einwegplatte abgeben (z.B. ein Stück Pappe mit Alufolie umwickelt).
%p
  Im Tausch gegen das Essen erhalten Sie eine VIP-Karte, mit welcher Sie direkt in den Verkaufsraum gelassen werden.

%p{style: 'margin-top: 3ex'}
  Unter folgendem Link können Sie sich anmelden, um sich das Vorkaufrecht zu sichern:
  %br
  = link_to 'Vorabeinkauf mit Essenspende', sellers_cake_path


%h2
  Für Verkäufer mit
  %em Modell viel helfen

%p
  Da wir in der Vergangenheit zu viel Süßes hatten,
  darf Kuchen u.ä. nur noch von den
  %em Verkäufern
  gebracht werden, die auch beim Aufbau helfen, d.h.
  %em Modell viel helfen
  gewählt haben.

  Für diese ist Herzhaftes erlaubt (s.o.), aber auch:
  %ul
    %li Kuchen/Torten mit Obstbelag
    %li Kuchen/ Torten mit Cremefüllung oder –Belag
    %li Saftige Schokoladenkuchen (gerne auch mit Schokoglasur)
    %li Käsekuchen
    %li
      Gekaufte
      %em Torten
    %li Brownies
  Nicht erlaubt sind:
  %ul
    %li Gekaufte Kuchen
    %li Muffins
    %li Trockene Topf- oder Blechkuchen
