%h1 Hinweise für Helfer

%p
  Beachten Sie bitte, dass „Einkaufszeit“ bei der Helferzeit NICHT eingeschlossen ist.

%p
  Helfen Sie beim Aufbau, bringen Sie Ihre Artikel und werden direkt eingewiesen. Die Artikel werden nach Größen vorsortiert und dann ordentlich auf die Tische drapiert.

%p
  Helfen Sie beim Abbau, werden die Artikel in die Kartons zurücksortiert. Im Anschluss können Sie Ihre Artikel und Ihr Geld gleich mitnehmen.

%p
  Damit die Verrechnung der Kommission korrekt erfolgen kann, ist es wichtig, dass Sie Ihre Helferzeiten und ggf. Essenspende unter Angabe Ihrer Verkäufernummer registrieren. Ansonsten zahlen Sie automatisch 40% Kommission, s.
  = link_to 'AGB', pages_terms_path


%h2 Helferzeiten

%h3 Aufbau

%table
  %tr
    %td Mittwoch,
    %td 29.3.
    %td 16-19 Uhr
  %tr
    %td Donnerstag,&nbsp;
    %td 30.3.
    %td 9:30-12:30 Uhr
  %tr
    %td
    %td
    %td 15:30-18:30 Uhr
  %tr
    %td Freitag,
    %td 31.3.&nbsp;&nbsp;
    %td 14 Uhr bis fertig

%p
  Freitag Nachmittag ist kein offizieller Abgabetermin. Wir erlauben dennoch den ersten 15 Personen, die sich hierfür online eintragen, am Freitag Nachmittag auch Ihre Artikel abzugeben.


%h3 Abbau

Sa 1.4. ab 13:00 Uhr bis fertig


%h3 Mitzubringen
%ul
  %li ein ausreichend großes, eindeutig zu identifizierendes oder entsprechend beschriftetes Transportbehältnis (Tasche, Korb, Kiste)
  %li ausreichendes (und nach Möglichkeit kleines) Geld für Ihren Einkauf


%h3 ACHTUNG
%p
  Für Sie interessante Artikel, legen Sie bitte gleich in ihr Transportbehältnis. Wenn Sie gehen, bezahlen Sie diese und nehmen sie mit.
  %strong Alle herumliegenden Artikel werden am Ende des Tages zurücksortiert!
  %br
  Auch wenn Sie z.B. am Mittwoch schon geholfen haben, dürfen Sie zu den anderen Helferzeiten weiteres Vorkaufrecht nutzen.


%h3 Kann ich meine Kinder zum Helfen mitbringen?
%p
  JA. Wir haben in der Vergangenheit sehr gute Erfahrungen mit helfenden Kindern gemacht und freuen uns über diese Hilfe ganz besonders, solange sie wirklich helfen. Falls Sie den Verdacht haben, dass Ihre Kinder nach 10 Minuten keine Lust mehr haben und lieber mit den Sachen spielen wollen, dann lassen Sie sie lieber zu Hause.
