%h1 Verkaufsbedingungen (AGB)

%ol
  %li Der Verkauf auf dem Secondhand-Kommissionsbasar der Ichthys Freie Jesus Gemeinde e.V. erfolgt auf eigene Gefahr. Die Gemeinde übernimmt keine Haftung für Verlust, Beschädigung oder Diebstahl der angebotenen Artikel.
  %li 10-20% des Verkaufserlöses werden als Spende einbehalten, je nach online gewähltem Verkaufsmodell. Wird den Verpflichtungen des gewählten Modells nicht nachgekommen, erhöht sich der Anteil auf 40%.
  %li Der Rest des Erlöses wird bei Abholung der nicht verkauften Artikel in bar ausbezahlt. Dieser Betrag, sowie die zurückerhaltenen Artikel, müssen sofort kontrolliert werden. Spätere Reklamationen können nicht berücksichtigt werden.
  %li Der Verkäufer verpflichtet sich, seine nicht verkauften Artikel am Samstag, den 29.10.16, zwischen 17:00-18:00 Uhr persönlich abzuholen oder per E-Mail einen Bevollmächtigten einzusetzen. Andernfalls werden eventuell erzielte Gewinne als Spende einbehalten und die nicht abgeholte Ware entsorgt oder sozialen Projekten als Spende überlassen.
