/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table.element_list
  tr:nth-child(even)
    background-color: #DDDDDD
  th
    padding: 0.2ex 1ex
  td
    padding: 0.2ex 0.3ex
  td.money
    text-align: right
  td.number, td.initials
    text-align: center

table#menu
  td
    padding: 0ex 1ex

.hidden
  display: none

#alert
  color: red

#error
  color: red

#warning
  color: yellow

#notice
  color: green
