#menu
  top: 0
  left: 0
  position: fixed
  width: 150px
  height: 100%
  right-margin: 10px
  background: #703
  color: #fff
#menu ul
  list-style-type: none
  margin: 0
  top-padding: 100px
  padding: 10px
#menu a
  font-size: 120%
  height: 3ex
  display: block
  text-decoration: none
  color: #fff

#content
  left: 160px
  position: absolute
  margin: 5px
