- if @transaction.id
  %p
    %b Created at:
    = @transaction.created_at
  %p
    %b Updated at:
    = @transaction.updated_at
%p
  %b Number of items:
  = @transaction.number_of_items
%p#total_price{style: "margin-bottom: 5ex"}
  %b Total Price:
  = money_string @transaction.total_price
